







html {
    height: 100%;
    width: 100%;
}
body {
	 font: bold 14px Verdana, Arial, sans-serif;
	margin-bottom: 120px;
    height: 100%;
    width: 100%;
   
}


footer {
	 background: purple;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  text-align:center;
	font-size:10px;
}




header{
	 background: magenta;
    top:0px;
	left:0px;
	position:relative;
	text-align:center;
	width:100%;
	font-size:46px;
	

}



p{
    margin: 0;
}

