<!DOCTYPE html>
<html ng-app="my.project">

<head>
  <meta charset="utf-8" />
  <title>AngularJS : Expandable list component</title>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link rel="stylesheet" href="style.css" />
  <script data-require="angular.js@1.5.x" src="https://code.angularjs.org/1.5.0/angular.js" data-semver="1.5.0"></script>
  <script src="app.module.js"></script>
  <script src="expandable-list.component.js"></script>
</head>

<body>

  <header>
    <h2 class='title'>Favourite movies list</h2>
  </header>

  <mp-expandable-list items="main.model.items" 
    universal-class="list-main" 
    item-class="list-item" 
    footer-class="list-footer">
    
    <item>
      <label for="item-{{$index}}">Favourite movie number {{$index+1}} title:</label>
      <input type="text" ng-model="item.value">
      <a href="#" id="item-{{$index}}" ng-click="list.remove(item)" ng-if="list.manipulatable">X</a>
    </item>
    
    <footer>
      <a href="#" class="add-line" ng-click="list.add()">
        Add a favourite movie
      </a>
    </footer>
  </mp-expandable-list>

  <ul>
    <li ng-repeat="item in main.model.items" ng-if="item.value">
      The title of the favourite movie number {{$index+1}} is -> {{item.value}}
    </li>
  </ul>

</body>

</html>