/* Put your css in here */

.title {
   text-align: center;
}

.list-main {
  list-style: none;
  margin: 0;
  padding: 0 0.2rem;
  text-align: center;
  margin:20px;
}

.list-main .list-item {
  margin: 0.6rem 0;
  padding: 0 0.5rem;
}

.list-main .list-footer {
  padding-left: 2rem;
}