
body {
    font: bold 14px Verdana, Arial, sans-serif;
}


[class$="r"] {
    background: magenta;
}
/*
:not(class$="r")[class*="a"]{
		 background: blue;
}*/

[class*="nav"] {
	
    background: blue;
}

[class="aside"] {
	
    background: green;
}

[class="footer"] {
	
    background: purple;
}

section {
	position:relative;
	height:400px;
	width:60%;
	left:20%;
  border-color:orange;
	border-style: solid;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 70px;
  width: 100%;
}
body {
  margin-bottom: 120px;
}

article {
	position:relative;
	text-align:center;
	font-size:15px;
	
	left:20%;
	width: 60%;
}

nav {
  position: absolute;
  left: 0px;
 
  width: 20%;
  height:200px;
  top:0px;
 
}

aside{
  position: absolute;
  left: 80%;
  top:0px;
  width: 20%;
  height:200px;
}

header{
    top:0px;
	left:0px;
	position:relative;
	text-align:center;
	width:100%;
	
	

}

.generalDiv {
	position:relative;
	height:400px;
	
}

.header {
	
	font-size:46px;
}

.aside {
	font-size:10px;
}

.footer {
	text-align:center;
	font-size:10px;
}

.nav{
	
	font-size:12px;
}

.section{
	
	font-size:14px;
	
}







