
body{
	text-align: center;

}

.wrapper{
	text-align: -webkit-center;
	
}

.formulary{
	text-align: center;
	width:20%;
	height: auto;
	
	
}

 .formulary label{
	float:left;
	padding:20px;
	
}

 .formulary textarea{
	float:left;
	padding:20px;
	
}

 .formulary div{
	float:left;
	padding:20px;
	
}

 .formulary select{
	float:left;
	padding:20px;
	
}
