<!doctype html>
<html lang="en">
<meta charset="utf-8">

<title>Demo of Angular Local Storage Module</title>

<meta name="description" content="Demo of Angular Local Storage Module">

<link rel="stylesheet" href="http://necolas.github.com/normalize.css/2.0.1/normalize.css"> 
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="demo-style.css" rel="stylesheet">

<!-- JAVASCRIPT -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script src="https://rawgit.com/grevory/angular-local-storage/master/dist/angular-local-storage.min.js"></script>
<script src="demo-app.js"></script>


<body>


<div class="container" ng-app="demoModule">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">Angular Local Storage</a>
    </div>
  </div>

  <div class="hero-unit">

    <div ng-controller="DemoCtrl">
      <p><input type="text" ng-model="localStorageDemo" placeholder="Start typing..."></p>

      <blockquote class="well" ng-show="localStorageDemoValue">
        <p ng-bind="localStorageDemoValue"></p>
        <small>{{storageType}} value</small>
      </blockquote>

      <p><button ng-click="save()">Save text</button></p>
      <p><button ng-click="clearAll()">Clear All</button></p>
    </div>

  </div>

</body>
</html>
