.container{
	width: 100%
}

.title{
	float: left;
	width: 20%;
}

.intro{
	width: 50%
	float: right;
	margin-left: 40%;
}

.grid{
	clear: both;

}


@media all and (min-width: 1025px) {
    .column {
        position: relative;
        float: left;
        width: 32%; 
        height: auto;
        padding: 5px;
        
    }
  }

@media all and (max-width:425px) {
    .column {
    	position: relative;
        float: left;
        width: 90%;
        height: auto;
        padding: 4px;
    }
}

@media all and (max-width:1024px) and (min-width:426px) {
    .column {
    	position: relative;
        float: left;
        width: 45%;
        height: auto;
        padding: 6px;
    }
}

.column:hover .legend {
    opacity: 1;
    transition: opacity .5s ;
}

.legend{
	position: absolute;
    width: 100%;
    height: calc(15% - 90px);
    left: 5%;
    top: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
}


img{
	width: 100%;
	height: 200px;
}