#mainHeader{
  background: darkgreen;
  color: white;
}

.generalContainer{

  position:relative;
  height:500px;
}

.nav{
  position: absolute;
  left: 0%;
  width: 20%;
  background: #ccffee;
  height: 50%;

}  

.section{  
  position: absolute;
  height: 100%;
  left: 20%;
  width: 60%;
}

.header{
  position: absolute;
  background: #ccffee;
  height: 50px;
  width: 98%;
  left: 1%;

}

.article{
  position: absolute;
  background: #ccffee;
  height: 400px;
  width: 98%;
  margin-top: 54px;
  left: 1%;

}

.footer{
  position: absolute;
  background: #ccffee;
  height: 36px;
  width: 98%;
  left: 1%;
  margin-top: 458px;

 
}

.aside{
  position: absolute;
  left: 80%;
  width: 20%;
  background: #ccffee;
  height: 50%;
 

}

body{
  font-size: 14px;
  font-family: "Trebuchet MS";
}

#mainFooter{
  margin-top: 10px;
  background: darkgreen;
  color: white;
  height: 45px;
}

footer{
  font-style: italic;
}

header, footer {
    text-align: center;

}