    body {
      background: #333333;
      color: white;
    }
    
    div {
      background-color: #696969;
      width: auto;
      height: auto;
      border-radius: 10px;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    section {
      opacity: 0;
      text-align: center;
      background-color: #129402;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      animation: fadeIn 2s;
      animation-fill-mode: both;
      /*this allow the animation to stay when it finish*/
      /*transition: 2s;*/
    }
    /*this is a CSS animation, i took it from here 
      https://www.tutorialspoint.com/css/css_animation_fade_in.htm*/
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    button {
      text-align: center;
      border-radius: 5px;
    }
    
    .filter {
      position: relative;
      float: right;
      background-color: #696969;
      width: auto;
      height: auto;
      border-radius: 10px;
      margin-top: 50px;
      margin-right: 10px;
    }
    
    input {
      position: relative;
      float: right;
      background-color: #696969;
      border-radius: 3px;
    }
    
    table {
      float: left;
      background-color: green;
      border-radius: 3px;
      margin-left: 10px;
      margin-top: 10px;
    }
    
    .error_section {
      color: red;
    }
    /*ul{
      position: relative;
      float: right;
      background-color: #696969;
      width: auto;
      height: auto;
      border-radius: 10px;

    }*/
    /*
    }
    @keyframes mymove {
      0%   {opacity: 0.25;}
      25%  {opacity: 0.5;}
      75%  {opacity: 0.75;}
      100% {opacity: 1;}
    }*/
    /* header{
      text-align: center;
      height: 50px;
      background-color: #808080;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
    }
    footer{
      width: auto;
      height: 50px;
      background-color: #808080;
      border-radius: 10px;
      text-align: center;
      padding: 10px;
      margin: 10px;
    }
    article{
      background-color: #808080;
      height: 50px;
      border-radius: 10px;
      text-align: center;
      padding: 10px;
      margin: 10px;
    }*/