.header{
    background-color: orange;  
    font-size: 46px;
    
}
.footer{
    background-color: magenta;  
    height:20%;
    font-size: 10px;
    clear:both;
}
.content{  
    background-color: blue;
    width: 33%;
    font-size: 14px;
    float: left;}
.navigation{
    float: left;
    background-color:red;
    width: 33%;
    font-size: 12px;
}
.sidebar{
    float: left;
    background-color: green;
    font-size: 10px;
    width: 33%;
}
	