html { 
    background: url(../img/front.jpg) no-repeat center center fixed; 
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0px;
}