
/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

*, *:before, *:after {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.container{
  clear:both;  
  background: #ff751a;
  display: block;
  float: left;
  width: 100%;
  padding: 8px;
    
}

.container a {
  display: block;
}
.container img {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}


.contentGrid{
   box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: -ms-calc(33.3333% - 16px);
  width: -moz-calc(33.3333% - 16px);
  width: -webkit-calc(33.3333% - 16px);
  width: calc(33.3333% - 16px);
  margin: 8px;
  height: auto;
  position: relative;
  float: left;
}


.textOverImage{

    	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	border-radius: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0;
	z-index: 1000;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

}
.textOverImage:hover{
  opacity: 1;
}
.textOverImage:hover .title{
  margin-left:0;
}
p {
  font-size: 5px;
  padding: 5%;
}

.imgText{
    font-size: 20px;
     color: #fff;
    font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  margin-left: -30px;
}

