.FavoriteSongsContainer {
  border: 1px solid black ;
  width:35%;
  position:absolute;
}

.FavoriteSongsContainer-album {
  display: inline;
  float:left;
  width: 32%;
}

.FavoriteSongsContainer-description {
  display: inline;
  float:right;
  width: 68%;
}
